@charset "UTF-8";@import url("https://fonts.googleapis.com/css?family=Inria+Sans:regular,italic,700&display=swap");@import url("https://fonts.googleapis.com/css?family=Roboto:regular,600,700&display=swap");@import url("https://fonts.googleapis.com/css?family=Inter:regular,600&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face {font-family: SFProDisplay;font-display: swap;src: url("../assets/fonts/SFProDisplay-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?02737fc3ab0b91272818df511886c013") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-accessories"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-airframe"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-avionics"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-batteries"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-brake"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-cables"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-check"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-clock"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-close-circle"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-close"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-download"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-electrical"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-email"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-envelop"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-expendables"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-fittings"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-generators"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-hoses"]::before { 
		content: "\f113"; 
	} 
	[class*="--icon-location"]::before { 
		content: "\f114"; 
	} 
	[class*="--icon-m-telegram"]::before { 
		content: "\f115"; 
	} 
	[class*="--icon-minimize"]::before { 
		content: "\f116"; 
	} 
	[class*="--icon-parts"]::before { 
		content: "\f117"; 
	} 
	[class*="--icon-phone-2"]::before { 
		content: "\f118"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f119"; 
	} 
	[class*="--icon-profit"]::before { 
		content: "\f11a"; 
	} 
	[class*="--icon-Review Widget"]::before { 
		content: "\f11b"; 
	} 
	[class*="--icon-rotables"]::before { 
		content: "\f11c"; 
	} 
	[class*="--icon-s-facebook"]::before { 
		content: "\f11d"; 
	} 
	[class*="--icon-s-linkedin"]::before { 
		content: "\f11e"; 
	} 
	[class*="--icon-s-x"]::before { 
		content: "\f11f"; 
	} 
	[class*="--icon-search"]::before { 
		content: "\f120"; 
	} 
	[class*="--icon-star"]::before { 
		content: "\f121"; 
	} 
	[class*="--icon-systems"]::before { 
		content: "\f122"; 
	} 
	[class*="--icon-tools"]::before { 
		content: "\f123"; 
	} 
	[class*="--icon-widget"]::before { 
		content: "\f124"; 
	} 
	[class*="--icon-wire"]::before { 
		content: "\f125"; 
	} 




/* Generated by vite-plugin-svg-spritemap */
:root {
  /* Шрифт за замовчуванням */
  --font-family: "Inria Sans", sans-serif;
  --font-second: "Roboto", sans-serif;
  /* Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)  */
  --font-size: 1.5rem;
  /* Основні кольори */
  --main-color: #000;
  --black-color-2: #111111;
  --light-black: #393a56;
  --black-transparent-50: rgba(17, 17, 17, 0.5);
  --black-transparent-40: rgba(17, 17, 17, 0.4);
  --grey: #bcbcbc;
  --light-grey: #f8f8f8;
  --blue: #0084d0;
  --dark-blue: #0b416d;
  --light-blue: #eff2ff;
  --light-blue-hover: #6ec1e4;
  --light-blue-2: rgba(222, 241, 252, 0.749);
  --light-black: #393a56;
  --red: #e51919;
  --white: #ffffff;
  --yellow: #fcbf02;
  --shadow-color: 0 0.16875rem 2.5125rem 0 rgba(0, 0, 0, 0.2);
  --shadow-color-12: 0 0.16875rem 2.5125rem 0 rgba(0, 0, 0, 0.12);
  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
}
body {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  min-width: 20rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 95rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.title {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6875rem;
  font-family: var(--font-second);
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}
.title__decor {
  width: 56%;
  height: 0.25rem;
  background-color: var(--blue);
}
.title span {
  color: var(--blue);
  white-space: nowrap;
}
.title--big {
  color: var(--white);
  font-size: 4.375rem;
  letter-spacing: -0.0625rem;
}
.title--black {
  color: var(--main-color);
  gap: 0.25rem;
  text-transform: none;
}
.title--black__decor {
  width: 15%;
  /* 114/750 */
  height: 0.25rem;
  background-color: var(--blue);
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0.9375rem;
  column-gap: 2.25rem;
  color: var(--white);
}
.menu__link {
  transition: color 0.4s;
}
.menu__link--active {
  color: var(--blue);
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.top-header {
  padding: 1.0625rem 0 1.3125rem 0;
  background-color: var(--blue);
  color: var(--white);
  position: relative;
  z-index: 5;
}
[data-fls-menu-open] .top-header {
  display: none;
}
.top-header__container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 0.625rem;
  align-items: center;
  justify-content: space-between;
}
.top-header__left {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.9375rem;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
}
.top-header__column {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
}
.top-header__search {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-header__search::before {
  font-size: 1.375rem;
}

.main-header {
  padding-block: 1.71875rem;
}
.main-header__container {
  display: grid;
  align-items: center;
  grid-template-columns: 22.5rem 1fr auto;
}
.main-header__menu {
  justify-self: flex-end;
}
.main-header__logo {
  overflow: hidden;
  z-index: 5;
}
.main-header__logo img {
  width: 22.5rem;
}
.main-header__button {
  z-index: 5;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll].--header-scroll {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
}
[data-fls-header-scroll].--header-scroll .header__main {
  background-color: rgba(0, 25, 69, 0.8);
}

[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.3s;
  translate: 0rem -100%;
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  background-color: black;
  color: var(--white);
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-between;
}
.content-footer {
  display: flex;
  align-items: start;
  flex-direction: column;
  max-width: 22rem;
}
.content-footer__text {
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: -0.0625rem;
}
.list-footer {
  width: fit-content;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
}
.list-footer:last-child {
  max-width: 22.1875rem;
}
.list-footer__title {
  font-family: var(--font-second);
  font-weight: 700;
  letter-spacing: 0.0625rem;
}
.list-footer__title span {
  color: var(--blue);
}
.list-footer__elements {
  display: flex;
  flex-direction: column;
  row-gap: 1.1875rem;
}
.list-footer__element {
  line-height: 1.3;
  /* 32/24 */
  letter-spacing: -0.0625rem;
}
.list-footer__subtitle {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 1.5625rem;
}
.list-footer__value {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 1.5rem;
  line-height: 1.3;
  /* 32/24 */
  letter-spacing: -0.0625rem;
}
.list-footer__value::before {
  font-size: 1.125rem;
}
.list-footer__link {
  display: inline-flex;
  align-items: center;
  column-gap: 0.625rem;
  transition: color 0.4s;
}
.list-footer__link img {
  width: 1.25rem;
  height: 1.25rem;
  aspect-ratio: 1;
  object-fit: cover;
}
.list-footer--contact .list-footer__link {
  align-items: start;
}

.bottom-footer {
  background-color: var(--blue);
  color: var(--white);
  padding-block: 1rem;
}
.bottom-footer__info-elements {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bottom-footer__info-element {
  display: inline-flex;
  gap: 0.4375rem;
  font-size: 1.25rem;
}
.bottom-footer__info-element:not(:last-child)::after {
  content: "";
  width: 0.09375rem;
  height: 1.25rem;
  background-color: var(--white);
}/* Generated by vite-plugin-svg-spritemap */
.button {
  display: inline-flex;
  padding: 0.75rem 1.125rem;
  justify-content: center;
  text-align: center;
  border: 0.0625rem solid var(--blue);
  border-radius: 0.375rem;
  color: var(--white);
  background-color: var(--blue);
  transition: all 0.4s;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
}
.button--more {
  border-radius: 1.875rem;
  font-size: 0.875rem;
}
.button--review {
  border-radius: 1.875rem;
  padding: 0.625rem 1.75rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: none;
}
.button--send {
  font-family: var(--font-family);
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 0.75rem 0.875rem;
  max-width: 21.5rem;
  border-radius: 0.125rem;
}
.button--white {
  font-family: var(--font-second);
  font-size: 1.125rem;
  background-color: var(--white);
  color: var(--blue);
  border-color: var(--white);
}
.button--fw {
  width: 100%;
}/* Generated by vite-plugin-svg-spritemap */
.social-list {
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 0.375rem;
}
.social-list__social-element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 2.375rem;
  aspect-ratio: 1;
  background-color: var(--white);
  border-radius: 50%;
  transition: all 0.4s;
}
.social-list__link::before {
  font-size: 1.125rem;
  color: var(--blue);
  transition: all 0.3s ease-out;
}
.social-list--border .social-list__social-element {
  border: 0.0625rem solid var(--blue);
}/* Generated by vite-plugin-svg-spritemap */
.search-header__body {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  z-index: 5;
  position: absolute;
  inset-inline-start: 0;
  color: var(--main-color);
}
[data-fls-menu-open] .search-header__body {
  background-color: var(--white);
}
.search-open .search-header__body {
  inset-block-start: 210%;
  opacity: 1;
  visibility: visible;
}
.search-header__input {
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--white);
  background-color: var(--light-grey);
  height: 100%;
  padding-inline-start: 0.9375rem;
  padding-inline-end: 3.125rem;
}
.search-header__input::placeholder {
  color: var(--main-color);
  line-height: 1.875;
}
.search-header__open {
  block-size: 2.5rem;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  display: block;
  position: relative;
  color: var(--white);
  transition: all 0.4s;
}
.search-header__open span {
  aspect-ratio: 1/1;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}
.search-header__open span::before {
  font-size: 1.375rem;
}
.search-header__open span:last-child {
  transform: translate(-50%, -50%) scale(0);
}
.search-open .search-header__open span:first-child {
  transform: translate(-50%, -50%) scale(0);
}
.search-open .search-header__open span:last-child {
  transform: translate(-50%, -50%) scale(1);
}
.search-header__button {
  position: absolute;
  inset-inline-end: 0.625rem;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
  block-size: 100%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.0625rem;
}
.search-header__button::before {
  color: var(--main-color);
}/* Generated by vite-plugin-svg-spritemap */
.looking {
  position: relative;
  background-color: var(--blue);
  border-radius: 2.5rem;
  padding: 3.25rem 3.125rem;
  max-width: 78.875rem;
  margin: 1.25rem auto 3.75rem;
}
.looking__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2.5rem;
  row-gap: 1.125rem;
  position: relative;
  z-index: 2;
}
.looking__content {
  color: var(--white);
}
.looking__title {
  font-family: var(--font-second);
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.0625rem;
  line-height: 1.16;
  /* 42/36 */
}
.looking__title:not(:last-child) {
  margin-bottom: 1.75rem;
}
.looking__text {
  font-size: 1.5rem;
  line-height: 1.3;
  /* 32/24 */
  letter-spacing: -0.0625rem;
}
.looking__decor {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  aspect-ratio: 264/270;
}
.looking__decor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}/* Generated by vite-plugin-svg-spritemap */
.contact-item {
  color: var(--white);
}
.contact-item__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.3;
  /* 32/24 */
}
.contact-item__link span {
  flex: 0 0 1.5rem;
  aspect-ratio: 1;
}
.contact-item__link span::before {
  font-size: 1.375rem;
}/* Generated by vite-plugin-svg-spritemap */@media (max-width: 64em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}@media (max-width: 64em){
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: var(--header-height) 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: var(--header-height);
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
    background-color: rgb(0, 25, 69);
  }
  html[data-fls-menu-open] .menu__body {
    left: 0;
    padding: var(--header-main-height) 0.9375rem 1.875rem 0.9375rem;
  }
  html[data-fls-menu-open] .menu__body::before {
    left: 0;
    height: var(--header-main-height);
  }
  .menu__list {
    flex-direction: column;
    align-items: start;
    row-gap: 0rem;
    background-color: var(--white);
    width: calc(100% + 1.875rem);
    transform: translateX(-0.9375rem);
    height: 100svh;
  }
  .menu__item {
    width: calc(100% + 1.875rem);
    padding: 0.875rem 0.625rem;
    border-top: 0.0625rem solid var(--light-blue-2);
  }
  .menu__link {
    color: var(--main-color);
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--blue);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  html[data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  html[data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  html[data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .main-header__container {
    display: flex;
    justify-content: space-between;
  }
  .main-header__logo {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    width: 9.375rem;
    flex: 0 0 9.375rem;
    height: 100%;
  }
  .main-header__logo img {
    max-width: none;
    flex-shrink: 0;
  }
}@media (max-width: 48em){
  .title {
    gap: 0.75rem;
  }
  .title .title__decor {
    width: 1.5625rem;
  }
  .top-header {
    padding-block: 0.84375rem;
  }
  .top-header__search {
    width: 2.0625rem;
    height: 2.0625rem;
  }
  .top-header__search::before {
    font-size: 1.125rem;
  }
  .main-header {
    padding-block: 1.46875rem;
  }
  .main-header__logo {
    width: 6.25rem;
    flex: 0 0 6.25rem;
  }
  .main-header__logo img {
    width: 14.375rem;
  }
  .list-footer__title {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .list-footer__subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: normal;
  }
  .list-footer__value {
    font-size: 1.125rem;
    letter-spacing: normal;
  }
  .social-list__social-element {
    flex-basis: 1.875rem;
  }
  .social-list__link::before {
    font-size: 1rem;
  }
  .search-header__body {
    block-size: 2.5rem;
  }
  .looking {
    padding: 1.75rem 2.46875rem;
    margin: 2.5rem 0.9375rem;
  }
  .looking__inner {
    flex-direction: column;
    justify-content: center;
  }
  .looking__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .looking__title {
    font-size: 1.5rem;
    line-height: 1.3;
    /* 32/24 */
  }
  .looking__title:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .looking__text {
    font-size: 1.125rem;
    line-height: 1.6;
    /* 29/18 */
    letter-spacing: normal;
  }
  .looking__decor {
    width: 8.875rem;
    height: 9.0625rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .contact-item__link {
    font-size: 1.25rem;
    line-height: normal;
  }
}@media (width < 48em){
  .main-header__container {
    column-gap: 1.25rem;
  }
}@media (max-width: 48em) and (width < 20em){
  .title {
    font-size: 1.5rem;
  }
}@media (max-width: 43.125em){
  .top-header__container {
    flex-direction: column;
    align-items: center;
  }
  .search-open .search-header__body {
    inset-block-start: 180%;
  }
}@media (max-width: 30.5625em){
  .bottom-footer__info-elements {
    flex-direction: column;
  }
  .bottom-footer__info-element:not(:last-child)::after {
    display: none;
  }
}@media (max-width: 29.99875em){
  .search-header__open span::before {
    font-size: 1.125rem;
  }
}@media (max-width: 24.375em){
  .title {
    gap: 0.375rem;
  }
  .title .title__decor {
    width: 49%;
  }
  .title--big {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
  }
  .title--black {
    letter-spacing: 0.125rem;
  }
  .top-header {
    padding-block: 0.75rem;
  }
  .main-header {
    padding-block: 0.625rem;
  }
  .footer__container {
    row-gap: 1.25rem;
  }
  .content-footer__text {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.6;
    /* 29/18 */
  }
  .list-footer {
    row-gap: 1.25rem;
  }
  .list-footer__title {
    font-size: 1.125rem;
    font-weight: 600;
  }
  .list-footer__elements {
    row-gap: 0;
  }
  .list-footer__subtitle {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
    /* 22/18 */
    letter-spacing: -0.0625rem;
    margin-bottom: 1.25rem;
  }
  .list-footer__value {
    font-size: 1rem;
    line-height: 1.6;
    /* 26/16 */
    letter-spacing: -0.0625rem;
  }
  .list-footer__link {
    font-size: 1rem;
    line-height: 1.625;
    /* 26/16 */
  }
  .list-footer--contact .list-footer__element:last-child {
    margin-top: 1.25rem;
  }
  .bottom-footer__info-element {
    font-size: 1rem;
  }
  .search-header__input::placeholder {
    font-size: 0.875rem;
  }
  .looking {
    padding: 1.25rem;
    margin: 2.5rem 0.9375rem;
  }
  .looking__title {
    font-size: 1.25rem;
  }
  .looking__text {
    font-size: 1rem;
  }
  .looking__decor {
    display: none;
  }
}@media (width < 24.375em){
  .title--big {
    font-size: 1.875rem;
  }
}@media (width < 20em){
  .footer__container {
    padding-top: 2.5rem;
  }
  .footer__container {
    padding-bottom: 2.5rem;
  }
}@media (max-width: 48em) and (width >= 95em){
  .title {
    font-size: 3.25rem;
  }
}@media (width >= 20em) and (width < 95em){
  .footer__container {
    padding-top: clamp( 2.5rem , 1.33333333333125rem  +  5.8333333333vw , 6.875rem );
  }
  .footer__container {
    padding-bottom: clamp( 2.5rem , 1.83333333333125rem  +  3.3333333333vw , 5rem );
  }
}@media (width >= 24.375em) and (width < 120em){
  .title--big {
    font-size: clamp( 1.875rem , 1.2377450980375rem  +  2.614379085vw , 4.375rem );
  }
}@media (min-width: 24.375em){
  .content-footer {
    row-gap: 4.25rem;
  }
}@media (min-width: 35.625em) and (max-width: 48em){
  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}@media (width >= 48em) and (width < 120em){
  .main-header__container {
    column-gap: clamp( 1.25rem , -1.25rem  +  5.2083333333vw , 5rem );
  }
}@media (width >= 48em){
  .looking__content {
    flex: 0 1 50.6875rem;
  }
}@media (min-width: 48em){
  .search-header__body {
    block-size: 3.4375rem;
    inset-block-start: 0;
    padding-block: 0.5rem;
    padding-inline: 0.9375rem;
  }
}@media (max-width: 48em) and (width >= 20em) and (width < 95em){
  .title {
    font-size: clamp( 1.5rem , 1.03333333333125rem  +  2.3333333333vw , 3.25rem );
  }
}@media (width >= 95em){
  .footer__container {
    padding-top: 6.875rem;
  }
  .footer__container {
    padding-bottom: 5rem;
  }
}@media (width >= 120em){
  .title--big {
    font-size: 4.375rem;
  }
  .main-header__container {
    column-gap: 5rem;
  }
}@media (any-hover: hover){
  .button:hover {
    background-color: var(--white);
    border-color: var(--blue);
    color: var(--blue);
  }
}@media (any-hover: hover), (pointer: fine){
  html:not([data-fls-touch]) .menu__link:hover {
    color: var(--blue);
  }
  html:not([data-fls-touch]) .list-footer__element:hover .list-footer__link {
    color: var(--blue);
  }
  html:not([data-fls-touch]) .button--hover-dark:hover {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: var(--white);
  }
  html:not([data-fls-touch]) .button--more:hover {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: var(--white);
  }
  html:not([data-fls-touch]) .button--review:hover {
    background-color: var(--light-blue-hover);
    border-color: var(--light-blue-hover);
    color: var(--white);
  }
  html:not([data-fls-touch]) .button--send:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
    box-shadow: 0 0.16754792630625rem 2.5132188797rem 0 rgba(0, 0, 0, 0.2);
  }
  html:not([data-fls-touch]) .button--white:hover {
    background-color: var(--dark-blue);
    border-color: var(--white);
    color: var(--white);
  }
  html:not([data-fls-touch]) .social-list__social-element:hover {
    background-color: var(--light-blue);
  }
  html:not([data-fls-touch]) .social-list--border .social-list__social-element:hover {
    background-color: var(--white);
  }
  html:not([data-fls-touch]) .social-list--border .social-list__social-element:hover .social-list__link::before {
    transform: scale(1.07);
  }
  html:not([data-fls-touch]) .contact-item:hover .contact-item__link {
    text-decoration: underline;
  }
  html:not([data-fls-touch]) .contact-item:hover .contact-item__link span::before {
    text-decoration: none;
  }
}